@tailwind base;
@tailwind components;
@tailwind utilities;

.withHover {
  @apply transform cursor-pointer duration-150 ease-in-out hover:opacity-60;
}

.img {
  @apply absolute top-0 left-0 h-[100%] w-[100%] object-cover;
}

.dashboardBtn {
  @apply withHover rounded-lg py-2 px-4 font-semibold text-textColor;
}

.gradientBgColor {
  @apply bg-gradient-to-r from-indigo-500 to-tertiaryColor;
}

.container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 30px;
}

.container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 10px;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
  border: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 11px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.lineThroughWhite {
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}
